<div class="login-box portal-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Hi!</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Select the portal you want to work in</p>
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 col-sm-6 col-12 text-center">
                    <a asp-controller="Admin" asp-action="Dashboard" class="info-box d-flex flex-column align-items-center">
                        <span class="info-box-icon bg-default mb-2"><i class="fa fa-user-tie"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Admin</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-12 text-center">
                    <a asp-controller="User" asp-action="ProductList" class="info-box d-flex flex-column align-items-center">
                        <span class="info-box-icon bg-default mb-2"><i class="fa fa-user"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">User</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
